  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title">Контакты</div>
          <!--<div class="title-sub2">Остались вопросы? Свяжитесь с нами в удобное <br>для Вас время, наша команда будет рада Вам помочь.</div>-->
          <div class="contacts-btns">
            <div class="contacts-btn-zv">
              <span>&nbsp;<!--телефон--></span>
              <div>
                <div><a href="tel:+79217557655" class="phone-number">+7-921-755-76-55</a></div>
                <div class="rev-phone-soc">
                  <!--<a href="#"><img src="img/viber.svg" alt="img"></a>-->
                  <a href="https://wa.me/79217557655"><img src="img/whatsapp.svg"></a>
                  <a href="https://t.me/KarasevNikita"><img src="img/telegram.svg"></a>
                </div>
              </div>
              <a href="#" data-toggle="modal" data-target=".bs-call-request-modal-center">Заказать звонок</a>
            </div>
            <div class="contacts-btn-ms">
              <span>&nbsp;<!--E-mail--></span>
              <div>karasevnikita@mail.ru</div>
              <a href="#" data-toggle="modal" data-target=".bs-msg-write-modal-center">Написать сообщение</a>
            </div>
          </div>
          <div class="contacts-soc">
            <!--<a href="https://www.youtube.com/dr_karasev_nikita" target="_blank"><img src="img/contacts-soc-1.svg" alt="img"> <span>youtube.com/<strong>dr_karasev_nikita</strong></span></a>-->
			<a href="https://www.fb.com/nikita.karasev.792" target="_blank"><img src="img/contacts-soc-3.svg" alt="img"> <span>fb.com/<strong>nikita.karasev.792</strong></span></a>
            <a href="https://www.instagram.com/dr_karasev_nikita" target="_blank"><img src="img/contacts-soc-2.svg" alt="img"> <span>instagram.com/<strong>dr_karasev_nikita</strong></span></a>
            <a href="https://www.vk.com/dr.karasev" target="_blank"><img src="img/contacts-soc-4.svg" alt="img"> <span>vk.com/<strong>dr.karasev</strong></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>