	<!-- SITE-FOOTER -->
	<footer class="site-footer">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12 col-md-6">
			<h6>О враче</h6>
			<p class="text-justify">Карасев Никита Олегович врач-стоматолог проводит комплексную диагностику, планирование и реабилитацию пациентов с частичным или полным отсутствием зубов. Основная специализация — хирургическая и ортопедическая стоматология. Никита Олегович безболезненно осуществляет удаление зубов любой сложности, в том числе ретинированных и дистопированных.</p>
		  </div>

		  <div class="col-xs-6 col-md-3">
			<h6>Сайт</h6>
			<ul class="footer-links">
			  <li><a href="https://www.drkarasev.com">Главная</a></li>
			  <li><a href="https://www.drkarasev.com/implants.html">Имплантация</a></li>
			  <li><a href="https://www.drkarasev.com/prosthetics.html">Протезирование</a></li>
			  <li><a href="https://www.drkarasev.com/whitening.html">Отбеливание</a></li>
			  <li><a href="https://www.drkarasev.com/clinic.html">Клиника</a></li>
			</ul>
		  </div>

		  <div class="col-xs-6 col-md-3">
			<h6>Информация</h6>
			<ul class="footer-links">
			  <li><a href="https://www.drkarasev.com/education.html">Образование</a></li>
			  <li><a href="https://www.drkarasev.com/allon4.html">All on 4</a></li>
			  <li><a href="https://www.drkarasev.com/allon68.html">All on 6/8</a></li>
			  <li><a href="https://www.drkarasev.com/trefoil.html">Trefoil</a></li>
			  <li><a href="https://ru.trustpilot.com/review/drkarasev.com">Отзывы пациентов</a></li>
			</ul>
		  </div>
		</div>
		<hr>
	  </div>
	  <div class="container">
		<div class="row">
		  <div class="col-md-12 col-sm-12 col-xs-12">
			<p class="copyright-text"><?php echo $footer_text; ?></p>
		  </div>
		</div>
	  </div>
	</footer>
	<!-- /SITE-FOOTER -->