	<!-- HEADER STYLES -->
	
	<link rel="shortcut icon" href="/img/icons/favicon.ico" />
	<link rel="apple-touch-icon" href="/img/icons/180x180-icon.png">
	
	<!-- Import Styles -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet" data-viewport-units-buggyfill="ignore">
	<link href="https://fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet" data-viewport-units-buggyfill="ignore">

	<!-- Sweet Alert -->
	<link href="plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css" data-viewport-units-buggyfill="ignore">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" data-viewport-units-buggyfill="ignore">

	<link rel="stylesheet" type="text/css" href="css/slick.css" data-viewport-units-buggyfill="ignore">
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css" data-viewport-units-buggyfill="ignore">
	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href="css/common.css" data-viewport-units-buggyfill="ignore">
	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" data-viewport-units-buggyfill="ignore">
	<link rel="stylesheet" type="text/css" href="css/viewport.css">

	<!-- Veltrix Styles -->
	<link href="veltrix/css/icons.css" rel="stylesheet" type="text/css" data-viewport-units-buggyfill="ignore">
	
	<!-- /HEADER STYLES -->