  <div class="specs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="title">Специализация</div>
          <div class="specs-box">
            <div>
              <a href="implants.html" class="specs-item">
                <img src="img/specs/implants.jpg" width="370px" height="240px" alt="Имплантация">
                <span>Имплантация</span>
              </a>
            </div>
            <div>
              <a href="plastika.html" class="specs-item">
                <img src="img/specs/plastika.jpg" width="370px" height="240px" alt="Регенерация">
                <span>Регенерация</span>
              </a>
            </div>
            <div>
              <a href="protez.html" class="specs-item">
                <img src="img/specs/protez.jpg" width="370px" height="240px" alt="Протезирование">
                <span>Протезирование</span>
              </a>
            </div>
            <div>
              <a href="allon4.html" class="specs-item">
                <img src="img/specs/allon4.jpg" width="370px" height="240px" alt="All on 4">
                <span>All on 4</span>
              </a>
            </div>
            <div>
              <a href="allon68.html" class="specs-item">
                <img src="img/specs/allon68.jpg" width="370px" height="240px" alt="All on 6/8">
                <span>All on 6/8</span>
              </a>
            </div>
            <div>
              <a href="trefoil.html" class="specs-item">
                <img src="img/specs/trefoil.jpg" width="370px" height="240px" alt="Trefoil">
                <span>Trefoil</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>